
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

ul{
  list-style: none;
}

ul li a{
  text-decoration: none;
  color: rgb(153, 153, 153);
}

/* FARE HOVER UL LI A */

p{
  padding: 15px 0;
  color: rgb(153, 153, 153);
  font-size: .7rem;
}