

/* TABLET VIEW */

@media screen and (max-width:926px){


  .container-card{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .container-card .card{
    width: calc(100% / 4 - 15px);
  }
}

/* BIG-SCREEN MOBILE VIEW */


/* MOBILE VIEW */
@media screen and (max-width:428px){

  .aside-left{
    width: 50px;
  }

  .main-central{
    width: calc(100% - 50px);
  }

  #call-to-action{
    width: calc(100% - 50px);
  }

  .container-card .card{
    width: calc(100% / 2 - 15px);
  }
}