

/* TABLET VIEW */

@media screen and (max-width:926px){


  .container-card{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .container-card .card{
    width: calc(100% / 4 - 15px);
  }
}

/* BIG-SCREEN MOBILE VIEW */

@media screen and (max-width:546px) {
  
  .container-card .card{
    width: calc(100% / 2 - 15px);
  }

  .footer-left .artist,
  .fa-heart,
  .fa-folder{
    display: none;
  }
}

/* MOBILE VIEW */
@media screen and (max-width:428px){
  
 .main-central{
    width: calc(100% - 50px);
  }
  
 #call-to-action{
    width: calc(100% - 50px);
  }
  
 .container-card .card{
    width: calc(100% / 2 - 15px);
  }

  .aside-left{
    width: 50px;
    padding: 10px;

  }

  #logo-small,
  #home-small,
  #search-small,
  #library-small{
    display: inline-block;
  }
  
  #name,
  #install,
  #logo,
  #home,
  #search,
  #library{
    display: none;
  }

  .cross{
    display: none;
  }

  .fa-circle-down{
    padding-left: 5px;
    padding-bottom: 10px;
  }
  
  .aside-main .logo img{
    height: 25px;
  }

  .playlist{
    display: none;
  }

  #call-to-action{
    text-align: center;
  }

  .footer-left .artist,
  .fa-heart,
  .fa-folder{
    display: none;
  }

  .footer-right .fa-list,
  .fa-desktop{
    display: none;
  }
}