
/* MAIN */

main{
  height: calc(100vh - 100px);
}

/* ASIDE */

.aside-left{
  width: 200px;
  height: 100%;
  padding: 15px 15px 0 15px;
}

.aside-main{
  height: calc(100% - 80px);
}

.aside-left .aside-bottom{
  height: 80px;
}

/* TOP */


.aside-main .logo img{
  height: 40px;
}

.aside-main nav{
  padding: 10px 0;
  font-size: .9rem;

}

.aside-main nav ul li{
  padding: 5px 0;
}

.aside-main nav ul li a i{
  font-size: 1.5rem;
  margin-right: 10px;
}

.aside-main nav ul li a i.fa-lines-leaning{
  transform: rotateY(180deg);
  margin-right: 15px;
}

/* PLAYLIST */

.aside-main .playlist .crea{
  color: rgb(153, 153, 153);
}

.aside-main .playlist .crea .square{
  font-size: 1.5rem;
  background-color: rgb(153, 153, 153);
  padding: 5px 10px;
  margin-top: 10px;
}

.aside-main .playlist ul li{
  padding: 10px 0;
  font-size: .9rem;
}

/* BOTTOM */

.aside-bottom p{
  padding: 10px 0;
  font-size: .7rem;

}

.aside-bottom .cross{
  border: 1px solid rgb(153, 153, 153);
  margin-bottom: 5px;
}


/* /ASIDE */

/* MAIN CENTRAL */

.main-central{
  width: calc(100% - 200px);
  height: 100%;
  overflow-y: auto;
  padding-top: 100px;
}

.main-central .main-top{
  height: 100px;
  width: calc(100% - 200px);
  top: 0;
  right: 0;
  z-index: 999;
}

/*  NAV */

.main-central .main-nav{
  text-align: center;
}

.main-central .main-nav ul li{
  display: inline-block;
  text-transform: uppercase;
  padding: 15px 5px;
}

.main-central .main-nav ul li a{
  font-size: .8rem;
}

/*  /NAV */

/* CARD */

.main-central section.container{
  padding: 15px 10px;
}

.main-central section .container-card{
  padding-top: 15px;
}

.container-card .card{
  width: calc(100% / 6 - 15px);
  text-align: center;
  margin-right: 15px;
  margin-top: 15px;
}

.container-card .card img{
  width: 100%;
}

#popolari .container-card .card img{
  border-radius: 50%;
}

/* /CARD */

/* /MAIN CENTRAL */

/* /MAIN */


/* FOOTER */

footer{
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

/* FOOTER LEFT */

.footer-left{
  align-items: center;
}

.footer-left img{
  width: 50px;
  margin-left: 15px;
}

.footer-left .artist{
  padding: 10px 15px 0 15px;
}

.footer-left .artist p{
  padding: 0;
}

.footer-left i{
  padding: 0 10px;
  color: rgb(153, 153, 153);
}

/* FOOTER CENTRAL */

.footer-central{
  width: 50%;
  height: 100%;
}

.footer-central .player{
  justify-content: center;
  align-items: center;
}

.footer-central .player i{
  padding: 15px;
  font-size: 1.3rem;
}

.footer-central .player i.fa-circle-play{
  font-size: 2rem;
}

.footer-central .time{
  justify-content: space-between;
  align-items: center;
}

.footer-central .timeline{
  width: 80%;
  height: 5px;
  background-color: rgb(153, 153, 153);
  border-radius: 5px;
}

.footer-central .current-timeline{
  width: 20%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
}

/* FOOTER RIGHT */

.footer-right{
  align-items: center;

}

.footer-right i{
  padding: 0 10px;
}

.footer-right .timeline{
  width: 120px;
  height: 5px;
  background-color: rgb(153, 153, 153);
  border-radius: 5px;
  margin: 0 10px;
}

.footer-right .current-timeline{
  width: 20%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
}

/* /FOOTER */
