
/* MAIN */

main{
  height: calc(100vh - 100px);
}

.main-top{
  height: 100px;
  width: 100%;
  top: 0;
  left: 300px;
  z-index: 999;
}


.main-left{
  width: 300px;
  height: 100%;
}

.main-central{
  width: calc(100% - 300px);
  height: 100%;
}

/* /MAIN */


/* FOOTER */

footer{
  height: 100px;
}

/* /FOOTER */
